
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" lang="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenyansonline.com</title>
    <link rel="stylesheet" href="{% static 'styl.css' %}"/>
    <link rel="stylesheet" href="{% static 'account.css' %}"/>
    <link rel="stylesheet" href="{% static 'color.css' %}"/>
    <link rel="stylesheet" href="{% static 'style-switcher.css' %}"/>
    <link rel="stylesheet" href="{% static 'color2.css' %}" class="alternate-style" title="color-1" disabled>
    <link rel="stylesheet" href="{% static 'color3.css' %}" class="alternate-style" title="color-2" disabled>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<nav class="navigation">
    <div id="topnav">
        <div class="navbar">
            <a  href="/"><div class="navlogo"> <h3>Kenyans</h3><h4>Online</h4> <h1>K O</h1></div></a>
        </div>
   
       </div>  
    <div id="smallnav">   
        
        <a id="adds" href="/acc-profile"><img src="{{user_profile.profileimg.url}}" height="25px" width="25px"></a>
        

        
        <br><br>
        <form method="POST" action="/search">
            {% csrf_token %}
            <input type="search" action="/search" class="search" placeholder="search" name="searched"><button type="submit" class="searchbutton"><i class="fa fa-search" font-size="18px"></i></button>      
        </form> 
    </div>
     
    <div id="nav1">
            <div class="navlinks">
                <a href="/">All-Videos</a>&nbsp;
                <a href="/recommended">Recommended</a>&nbsp;
                <a href="/trending">Trending</a>&nbsp;
                <a href="/podcasts">Podcasts</a>&nbsp;
                <a href="/blogs">Blogs</a>&nbsp;
                <a href="/livechat">LIVE</a>&nbsp;
                <a href="/hookup">Social-book</a>&nbsp;
                <a href="/livechat">STATUS</a>&nbsp;
                <a href="/shotss">Shots</a>
                <a href="/terms-policy">Privacy</a>
                
                <a id="adds" href="/acc-profile"><img src="{{user_profile.profileimg.url}}" height="22px" width="22px">PROFILE</a>
                

                
                
            </div>
             <div class="searching"> <form method="POST" action="/search">
                {% csrf_token %}
                    <input type="search" action="/search" class="search" placeholder="search" name="searched"><button type="submit" class="searchbutton"><i class="fa fa-search"></i></button>      
                </form> 
            </div>  
    </div> 
    <button id="linkbtn"><i class="fa fa-share-alt-square" aria-hidden="true"></i></button>  
    <div class="style-switcher">
        <div class="style-switcher-toggle s-icon">
            <i class="fa fa-cog"></i>
        </div>
        <div class="day-night s-icon">
            <i class="fa fa-sun-o"></i>
        </div>
        
        <h4>Theme Selector</h4>
        <div class="colors">
            <span class="color-2" onclick="setActiveStyle('color-1')"></span>
            <span class="color-3" onclick="setActiveStyle('color-2')"></span>
            <span class="color-1" onclick="setActiveStyle('color-3')"></span>
        </div>
    </div>  
    <label>
    <a  height="40px"><i class="fa fa-sign-out" id="btnn">out</i></a>
    </label>

    <input type="checkbox" id="check">
    <label for="check">
        <i class="fa fa-bars" id="btn"></i>
        <i class="fa fa-times" id="cancel"></i>
    </label>

<div class="sidebar">
    

    <header class="navbar"><h3>Kenyans</h3><h4>Online</h4></header>

    <ul>
        <li><a href="/" ><i class="fa fa-home"></i> All-Videos</a></li>
        <li><a href="/recommended" ><i class="fa fa-home"></i> Recommended</a></li>
        <li><a href="/trending" ><i class="fa fa-home"></i> Trending</a></li>
        <li><a href="/podcast" ><i class="fa fa-home"></i> Podcasts</a></li>
        <li><a href="/blog"><i class="fa fa-comments"></i>Blogs</a></li>
        <li><a href="/livechat"><i class="fa fa-comments"></i>LIVE</a></li>
        <li><a href="/hookup" ><i class="fa fa-address-card"></i> Social-book</a></li>
        <li><a href="/livechat"><i class="fa fa-comments"></i>STATUS</a></li>
        <li><a href="/shotss" ><i class="fa fa-camera-retro"></i> Shots</a></li>
        <li><a href="/acc-profile"><i class="fa fa-user-circle-o"></i> Profile</a></li>
        <li><a href="/terms-policy"><i class="fa fa-fa fa-eye-slash"></i> privacy policy</a></li>
    </ul>
</div> 
</nav>

<body>
    <style>
    body{
        margin-top: 80px;   
    }
    #agentdata{
        margin-top: 5px;
        margin:30px, auto;
    }
    .accountform{
        width: 75%;
        float: right;
    }
    table td{
        height: 60px;
        color: rgb(252, 250, 250);
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .shotupload{
        background-color: rgb(223, 75, 49);
    }
    .account-details button{
        padding: 5px;
        font-size: 12px;
    }
    .WITHDRAW{
        display: none;
    }
    .aside_profile{
        margin-top: 30px;
    }
    #shotvideos tr{
        width: 400px;
    }
    .withdraw-popup {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .withdraw-popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
  }
  
  .withdraw-popup-content h3 {
    margin-top: 0;
  }
  
  .close {
    color: var(--skin-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  p{
    color: var(--text-black-700);
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

    @media(max-width:900px){
        .accountform{
        width: 100%;
        margin-left: 30px;
        padding: 5px;
    }
    }
    </style>

    <div class="aside_profile">
        <div class="account-form">
            <div id="agentdata">
                <label><h4>NAME:</h4></label>
                {{user_profile.agentname}}<br>
                <div class="wallpaper">
                <img src="{{user_profile.profileimg.url}}" height="250px" width="200px"/><br>
                </div>
                </div>
                
                <div id="agentdetails">
                <label><h4> Located in {{ user_profile.location }}</h4></label>
                </div>  
       <div class="account-details">
            <div>
                <a href="/Houseupload"><h4>Upload -VIDEO</h4></a><br>
                <a href="/Shot"><h4>Upload -SHOTs</h4></a>
                <a href="/podcast"><h4>Upload Podcast</h4></a><br>
                <a href="/blogs"><h4>Write blog</h4></a>
    
            </div><br>
       </div>
    </div>
    <div class="subscription">
        <h4>Subscriptions</h4>
      {% if subscriptions %}
        <ul>
          {% for subscription in user_followers %}
            <li>{{ subscription.user.username }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>You are not subscribed to anyone yet.</p>
      {% endif %}
    </div>
    <h4>Connections</h4><br>
    <h4>Messages</h4><br>
    <h4>Notifications</h4><br>
    </div>
    <div class="accountform">
       
   <div class="account-details">
        
    <div class="account_table">
        <h3>ACCOUNT DETAILS</h3>
        <table>
            <tr id="thead">
                <td>VIDEOS</td>
                <td>VIEWS</td>
            </tr>
            {% for post in user_posts %}
            <tr>
                <td id="names">>>{{ post.Video_name }}</td>
                <td id="names">{{ post.no_of_views }}</td>
            {% endfor %}
            </tr>
        </table>
        <table>
            <tr id="thead">
                <td>AMOUNT</td>
            </tr>
            {% for x in calculated_values %}
            <tr>
              <td id="names">Ksh. {{ x }}0</td>
            </tr>
            {% endfor %}
        </table><br>

        <table>
            <tr id="thead">
                <td>PODCASTS</td>
                <td>VIEWS</td>
            </tr>
            {% for post in user_podcasts %}
            <tr>
                <td id="names">>>{{ post.Video_name }}</td>
                <td id="names">{{ post.no_of_views }}</td>
            {% endfor %}
            </tr>
        </table>
        <table>
            <tr id="thead">
                <td>AMOUNT</td>
            </tr>
            {% for x in calculated_valuesy %}
            <tr>
              <td id="names">Ksh. {{ x }}0</td>
            </tr>
            {% endfor %}
        </table><br>

        <table>
            <tr id="thead">
                <td>BLOGS</td>
                <td>VIEWS</td>
            </tr>
            {% for post in user_blogs %}
            <tr>
                <td id="names">>>{{ post.Video_name }}</td>
                <td id="names">{{ post.no_of_views }}</td>
            {% endfor %}
            </tr>
        </table>
        <table>
            <tr id="thead">
                <td>AMOUNT</td>
            </tr>
            {% for x in calculated_valuesz %}
            <tr>
              <td id="names">Ksh. {{ x }}0</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    
    
    <table>
        <tr>
            <td>TOTAL</td>
            <td></td>
            <td></td>
            <td>Ksh. {{total}}0</td>
        </tr>
        <tr>
            <td>WITHDRAWN</td>
            <td></td>
            <td></td>
            <td>Ksh. 0.00</td>
        </tr>
        <tr>
            <td>BALANCE</td>
            <td></td>
            <td></td>
            <td>Ksh. {{total}}0</td>
        </tr>
    </table>
    </div><br>


    <h4><button onclick="showWithdrawPopup()" >Withdraw</button></h4>

    <div id="withdraw-popup" class="withdraw-popup">
      <div class="withdraw-popup-content">
        <span class="close" onclick="closeWithdrawPopup()">&times;</span>
        <h3>Withdraw Confirmation</h3>
        <h4>minimum amount to withdraw is Ksh. 15,000</h4><br>
        <h4>your available balance is Ksh. {{total}}0</h4>
        <!-- Add additional content or form for withdrawal confirmation if needed -->
      </div>
    </div>

   </div>
   
   </div>
</div>

</body>
<footer>
    
    <div id="copywrite"> 
        
        <div class="text">   
        <p>UPLOAD VIDEOS/PODCASTS/BLOGS AND EARN Ksh 300 PER 1000 VIEWs</p>
        <p>ALL VIDEOS ARE ALLOWED EXCEPT NUDITY AND EXTREAMISM!!!</p>
        <p>&copy TalantaHella</p>
        
        </div> 
      
    </div>

</footer>
<script>
function showWithdrawPopup() {
  var popup = document.getElementById('withdraw-popup');
  popup.style.display = 'block';
}

function closeWithdrawPopup() {
  var popup = document.getElementById('withdraw-popup');
  popup.style.display = 'none';
}


</script>
<script src="{% static 'nav.js' %}"></script>
<script src="{% static 'main.js' %}"></script>
<script src="{% static 'style-switcher.js' %}"></script>


</html>