{% extends 'base.html' %}
{% load static %}
{% block video-uploads %}

<body>
    
    <style>
        body{
            margin-top: 50px;
        }
        .houses H1{
            color: rgb(255, 254, 254);
            font-size: 20px;
            padding: 10px;
        }
        .houses form{
            margin-top: -80px;
        }
        .houses form input{
            color: var(--bg-black-100);
            height: 60px;
            width: 100%;
        }
        .houses form textarea{
            color: var(--bg-black-100);
            height: 400px;
            width: 100%;
        }

    </style>
   
    {% for message in messages %}
    <h5>message{{ message }}</h5>
    {% endfor %}
   
    <div class="houses">
        
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>WRITE  A BLOG AND ANY OTHER NEWS ON THIS PAGE</h1>
            <label><h4>Blog Title</h4></label><br>
            <input type="text" id="housename" name="housename" required><br>
    
            <label><h4>Attatch a picture</h4></label><br>
            <input type="file" id="file_input" name="mainimg" required><br>
            
            <label><h4>write your blog here</h4></label><br>
            <div id = "textarea">
            <textarea type="textarea" name="details" id="contacts" required></textarea><br>
            </div>
            <button type="submit"><h4>POST</h4></button>
        </form>
    </div>
    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'nav.js' %}"></script>
    <script src="{% static 'style-switcher.js' %}"></script>
</body>
{% endblock %}